html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#header {
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	background: #c92127;
	border-bottom: 1px solid #ae331f;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C12027',endColorstr='#C93C24');
	background: -moz-linear-gradient(center top,#c12027,#c93c24);
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#c12027),to(#c93c24));
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);	
}

#header img {
	width: 103px;
	height: 42px;
	vertical-align: middle;
}

#header a.postdanmark-link {
	color: white;
	text-decoration: none;
	font-size: 2em;
	font-family: arial;
	float:right;
}

#map {
	position: absolute;
	top: 70px;
	left: 0;
	bottom: 0;
	right: 0;
}