html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#layerSelect {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: white;
	z-index: 10;
	padding: 10px;
}

#layerSelect h1 {
	font-family: arial;
	font-size: 1em;
	text-align: center;
	font-style: italic;
}

#layerSelect a {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#layerSelect form {
	padding: 10px;
	margin: -10px;
	border-top: solid 1px #eee;
	display: inline-block;
}

#layerSelect img {
	width: 110px;
	height: 50px;
	float: right;
}

